$firstColor: #145A32;
$firstAlphaColor: rgba(20, 90, 50,.75);
$secondColor: #B03A2E;
$secondAlphaColor: rgba(176, 58, 46,.75);
$thirdColor: #1A5276;
$thirdAlphaColor: rgba(26, 82, 118,.75);
$whiteColor: #FFFFFF;
$blackColor: #000000;
$yellowColor: #daa520;
$linkColor: #509EE3;
$titleColor: #333333;
$textColor: #222222;

$font: 'Montserrat', sans-serif;
$maxWidth: 600px;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;