$firstColor: #145A32;
$firstAlphaColor: rgba(20, 90, 50,.75);
$secondColor: #B03A2E;
$secondAlphaColor: rgba(176, 58, 46,.75);
$thirdColor: #34495E;
$thirdAlphaColor: rgba(52, 73, 94,.75);
$whiteColor: #FFFFFF;
$blackColor: #000000;
$linkColor: #509EE3;
$titleColor: #333333;
$textColor: #222222;
$font: 'Montserrat', sans-serif;
$maxWidth: 1000px;