@use '../base/variables' as v;
@use '../base/mixins' as m;

.task-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 1rem;

  .task{
    display: inherit;
    gap: .5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: v.$whiteColor;

    @include m.tablet {
      flex-direction: row;
      gap: 0;
    }

  }

  .no-task{
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    color: v.$whiteColor;
    border-right: thick solid v.$firstColor;
    border-bottom: thick solid v.$firstColor;
    user-select: none;

    @include m.mobile {
      font-size: 1.5rem;
    }
  }
  
  .task-name{
    font-weight: bold;
    flex: 0 0 50%;
    padding: .4rem;
    padding-right: 0;
    margin-right: .5rem;
    border: none;
    outline: none;
    
    &.edit-task{
      border: thin solid v.$grayColor;
      flex-grow: 1;
    }
  }
  
  .task-state{
    font-size: 2rem;
    cursor: pointer;
    order: -1;
    transition: all .5s ease;

    &:hover{
      transform: translateY(-5px);
    }

    
    &.pending-state{
      color: v.$yellowColor;

      &:hover{
        color: lighten(v.$yellowColor,10%);
      }
    }
    
    &.completed-state{
      color: v.$firstColor;

      &:hover{
        color: lighten(v.$firstColor,10%);
      }
    }


    @include m.mobile {
      order: 0;
    }
  }

  .input-updater{
    flex: 1;
    color: v.$blackColor;
    font-size: 1.3rem;
    margin-right: 0;
    outline: none;
    border: thin solid v.$grayColor;
    border-radius: .3rem;
    caret-color: v.$grayColor;
    width: 100%;

    @include m.tablet {
      width: auto;
      margin-right: 1rem;
      
    }
  }

  .btn-actualizar{
    @include m.btn(v.$linkColor,v.$whiteColor);
    width: 100%;

    @include m.tablet {
     width: auto;
    }

    &:hover{
      background-color: lighten(v.$linkColor,5%);
    }
  }
}
