@use '../base/variables' as v;
@use '../base/mixins' as m;

.input-task-container{
  display: flex;
  flex-direction: column-reverse;
  gap: .25rem;
  justify-content: center;

  @include m.mobile {
    flex-direction: row;
  }

  .input-task{
    flex: 1;
    color: v.$blackColor;
    font-size: 1.3rem;
    outline: none;
    border: thin solid v.$blackColor;
    caret-color: v.$firstColor;
  }

  .btn-task{
    @include m.btn(v.$firstColor,v.$whiteColor);
    
    &:hover{
      background-color: v.$firstAlphaColor;
    }
  }
}

.task-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 1rem;

  .task{
    display: inherit;
    gap: .5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: v.$whiteColor;

    @include m.tablet {
      flex-direction: row;
      gap: 0;
    }

  }

  .no-task{
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    border-right: thick solid v.$firstColor;
    border-bottom: thick solid v.$firstColor;
    box-shadow: none;
    user-select: none;

    @include m.mobile {
      font-size: 1.5rem;
    }
  }
  

  .task-name{
    font-weight: bold;
    flex: 0 0 50%;
    outline: 0;
    border: none;

  }
  
  .task-state{
    font-size: 2rem;
    cursor: pointer;
    order: -1;

    &.pending-state{
      color: v.$yellowColor;
    }

    &.completed-state{
      color: v.$firstColor;
    }

    @include m.mobile {
      order: 0;
    }
  }
}

.acciones{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 100%;

  @include m.mobile {
    flex-direction: row;
  }

  @include m.tablet {
    width: auto;
  }
   
   
  .btn-editar{
    @include m.btn(v.$thirdColor,v.$whiteColor);
    width: 100%;

    @include m.tablet {
     width: auto;
    }

    &:hover{
      background-color: v.$thirdAlphaColor;
    }
    
  }

  .btn-eliminar{
    @include m.btn(v.$secondColor,v.$whiteColor);
    width: 100%;

    @include m.tablet {
     width: auto;
    }

     &:hover{
      background-color: v.$secondAlphaColor;
    }
  }
}